resources/allprop/allprop-calendarhomeset-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="DAV" xmlns:ical="http://apple.com/ns/ical/" xmlns:ns3="http://calendarserver.org/ns/" xmlns:ns1="DAV" xmlns:ns2="urn:ietf:params:xml:ns:caldav" xmlns:dav="http://twistedmatrix.com/xml_namespace/dav/" xmlns:ns4="urn:ietf:params:xml:ns:carddav">
  <xs:import namespace="http://apple.com/ns/ical/" schemaLocation="ical.xsd"/>
  <xs:import namespace="http://calendarserver.org/ns/" schemaLocation="ns3.xsd"/>
  <xs:import namespace="http://twistedmatrix.com/xml_namespace/dav/" schemaLocation="dav.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:import namespace="urn:ietf:params:xml:ns:caldav" schemaLocation="ns2.xsd"/>
  <xs:import namespace="urn:ietf:params:xml:ns:carddav" schemaLocation="ns4.xsd"/>
  <xs:element name="multistatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:response"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:href"/>
        <xs:element maxOccurs="unbounded" ref="ns1:propstat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="propstat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:prop"/>
        <xs:element ref="ns1:status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prop">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:acl"/>
          <xs:element ref="ns1:acl-restrictions"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns1:add-member"/>
        <xs:element minOccurs="0" ref="ns1:creationdate"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:current-user-principal"/>
          <xs:element ref="ns1:current-user-privilege-set"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns1:displayname"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:getcontentlength"/>
          <xs:element ref="ns1:getcontenttype"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:getetag"/>
          <xs:element ref="ns1:getlastmodified"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:inherited-acl-set"/>
          <xs:element ref="ns1:owner"/>
          <xs:element ref="ns1:principal-collection-set"/>
          <xs:element ref="ns1:quota-available-bytes"/>
          <xs:element ref="ns1:quota-used-bytes"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns1:resource-id"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:resourcetype"/>
          <xs:element ref="ns1:supported-privilege-set"/>
          <xs:element ref="ns1:supported-report-set"/>
          <xs:element ref="ns1:supportedlock"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns1:sync-token"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ical:calendar-color"/>
          <xs:element ref="ical:calendar-order"/>
          <xs:element ref="ns3:allowed-sharing-modes"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns3:getctag"/>
        <xs:element minOccurs="0" ref="ns3:invite"/>
        <xs:element minOccurs="0" ref="ns3:max-resources"/>
        <xs:element minOccurs="0" ref="ns3:pushkey"/>
        <xs:choice>
          <xs:element ref="ns3:shared-url"/>
          <xs:element ref="dav:resource-class"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns2:calendar-timezone"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns2:max-attendees-per-instance"/>
          <xs:element ref="ns2:max-instances"/>
          <xs:element ref="ns2:max-resource-size"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns2:schedule-calendar-transp"/>
        <xs:element minOccurs="0" ref="ns2:supported-calendar-component-set"/>
        <xs:element minOccurs="0" ref="ns2:supported-calendar-component-sets"/>
        <xs:element minOccurs="0" ref="ns2:supported-calendar-data"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns2:default-alarm-vevent-date"/>
          <xs:element ref="ns2:default-alarm-vevent-datetime"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acl">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:ace"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ace">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:principal"/>
        <xs:element ref="ns1:grant"/>
        <xs:element minOccurs="0" ref="ns1:protected"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:inherited"/>
          <xs:element ref="dav:inheritable"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="principal">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ns1:href"/>
        <xs:element ref="ns1:authenticated"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticated">
    <xs:complexType/>
  </xs:element>
  <xs:element name="grant">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:privilege"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="protected">
    <xs:complexType/>
  </xs:element>
  <xs:element name="inherited">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:href"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acl-restrictions">
    <xs:complexType/>
  </xs:element>
  <xs:element name="add-member">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:href"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creationdate" type="xs:string"/>
  <xs:element name="current-user-principal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:href"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="current-user-privilege-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:privilege"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayname" type="xs:string"/>
  <xs:element name="getcontentlength">
    <xs:complexType/>
  </xs:element>
  <xs:element name="getcontenttype" type="xs:string"/>
  <xs:element name="getetag" type="xs:string"/>
  <xs:element name="getlastmodified" type="xs:string"/>
  <xs:element name="inherited-acl-set">
    <xs:complexType/>
  </xs:element>
  <xs:element name="owner">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:href"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="principal-collection-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:href"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="quota-available-bytes" type="xs:integer"/>
  <xs:element name="quota-used-bytes" type="xs:integer"/>
  <xs:element name="resource-id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:href"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resourcetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns3:free-busy-url"/>
        <xs:element minOccurs="0" ref="ns1:collection"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns3:dropbox-home"/>
          <xs:element ref="ns3:notification"/>
          <xs:element ref="ns2:calendar"/>
          <xs:element ref="ns2:schedule-inbox"/>
          <xs:element ref="ns2:schedule-outbox"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="collection">
    <xs:complexType/>
  </xs:element>
  <xs:element name="supported-privilege-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:supported-privilege"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supported-report-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:supported-report"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="supported-report">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:report"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="report">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ns1:acl-principal-prop-set"/>
        <xs:element ref="ns1:expand-property"/>
        <xs:element ref="ns1:principal-match"/>
        <xs:element ref="ns1:principal-property-search"/>
        <xs:element ref="ns1:sync-collection"/>
        <xs:element ref="ns3:calendarserver-principal-search"/>
        <xs:element ref="ns2:calendar-multiget"/>
        <xs:element ref="ns2:calendar-query"/>
        <xs:element ref="ns2:free-busy-query"/>
        <xs:element ref="ns4:addressbook-multiget"/>
        <xs:element ref="ns4:addressbook-query"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="acl-principal-prop-set">
    <xs:complexType/>
  </xs:element>
  <xs:element name="expand-property">
    <xs:complexType/>
  </xs:element>
  <xs:element name="principal-match">
    <xs:complexType/>
  </xs:element>
  <xs:element name="principal-property-search">
    <xs:complexType/>
  </xs:element>
  <xs:element name="sync-collection">
    <xs:complexType/>
  </xs:element>
  <xs:element name="supportedlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:lockentry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lockentry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:lockscope"/>
        <xs:element ref="ns1:locktype"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lockscope">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ns1:exclusive"/>
        <xs:element ref="ns1:shared"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="exclusive">
    <xs:complexType/>
  </xs:element>
  <xs:element name="shared">
    <xs:complexType/>
  </xs:element>
  <xs:element name="locktype">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:write"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sync-token" type="xs:anyURI"/>
  <xs:element name="status" type="xs:string"/>
  <xs:element name="href" type="xs:anyURI"/>
  <xs:element name="privilege">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ns1:write"/>
        <xs:element ref="ns1:all"/>
        <xs:element ref="ns1:bind"/>
        <xs:element ref="ns1:read"/>
        <xs:element ref="ns1:read-acl"/>
        <xs:element ref="ns1:read-current-user-privilege-set"/>
        <xs:element ref="ns1:unbind"/>
        <xs:element ref="ns1:unlock"/>
        <xs:element ref="ns1:write-acl"/>
        <xs:element ref="ns1:write-content"/>
        <xs:element ref="ns1:write-properties"/>
        <xs:element ref="ns2:read-free-busy"/>
        <xs:element ref="ns2:schedule"/>
        <xs:element ref="ns2:schedule-deliver"/>
        <xs:element ref="ns2:schedule-send"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="all">
    <xs:complexType/>
  </xs:element>
  <xs:element name="bind">
    <xs:complexType/>
  </xs:element>
  <xs:element name="read">
    <xs:complexType/>
  </xs:element>
  <xs:element name="read-acl">
    <xs:complexType/>
  </xs:element>
  <xs:element name="read-current-user-privilege-set">
    <xs:complexType/>
  </xs:element>
  <xs:element name="unbind">
    <xs:complexType/>
  </xs:element>
  <xs:element name="unlock">
    <xs:complexType/>
  </xs:element>
  <xs:element name="write-acl">
    <xs:complexType/>
  </xs:element>
  <xs:element name="write-content">
    <xs:complexType/>
  </xs:element>
  <xs:element name="write-properties">
    <xs:complexType/>
  </xs:element>
  <xs:element name="supported-privilege">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:privilege"/>
        <xs:element ref="ns1:supported-privilege"/>
        <xs:element ref="ns1:description"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="description">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="write">
    <xs:complexType/>
  </xs:element>
</xs:schema>
