resources/rfc6638/ns2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:caldav" xmlns:ns1="http://calendarserver.org/ns/" xmlns:ns3="DAV" xmlns:ns2="urn:ietf:params:xml:ns:caldav">
  <xs:import namespace="DAV" schemaLocation="rfc6638-response.xsd"/>
  <xs:import namespace="http://calendarserver.org/ns/" schemaLocation="ns1.xsd"/>
  <xs:element name="schedule-tag">
    <xs:complexType/>
  </xs:element>
  <xs:element name="schedule-default-calendar-URL" type="ns3:href"/>
  <xs:element name="schedule-inbox">
    <xs:complexType/>
  </xs:element>
</xs:schema>
