resources/proppatch-calendar-collection/cal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:caldav" xmlns:x6="http://apple.com/ns/ical/" xmlns:d="DAV" xmlns:cal="urn:ietf:params:xml:ns:caldav">
  <xs:import namespace="DAV" schemaLocation="proppatch-calendar-collection-response.xsd"/>
  <xs:import namespace="http://apple.com/ns/ical/" schemaLocation="x6.xsd"/>
  <xs:element name="calendar-description">
    <xs:complexType/>
  </xs:element>
  <xs:element name="schedule-calendar-transp">
    <xs:complexType/>
  </xs:element>
  <xs:element name="calendar-timezone">
    <xs:complexType/>
  </xs:element>
</xs:schema>
